@tailwind base;
@tailwind components;
@tailwind utilities;


.slide {
    display: flex;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-radius: 25px;
}
.slide1{
    background-image: url('/src/assets/image/istockphoto-1198218812-612x612.jpg');
}
.slide2{
    background-image: url('/src/assets/image/istockphoto-175384576-612x612.jpg');
}
.slide3{
    background-image: url('/src/assets/image/pexels-photo-106399.jpeg');
}
 